{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'music_choice/style.css' %}" />
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>2022 MINI HOMEPAGE</title>
    <link rel="stylesheet" href="{% static 'music_choice/font.css' %}" />
    <link rel="stylesheet" href="{% static 'music_choice/layout.css' %}">
    <link rel="stylesheet" href="{% static 'music_choice/home.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&display=swap');
    </style>

    <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("input[type='checkbox']").on("click", function(){
        let count = $("input:checked[type='checkbox']").length;

        if(count > 3){
          $(this).prop("checked", false);
            alert("3개까지만 선택할 수 있습니다.");
        }
      });
    });

    function reload(){
      document.location.reload();
    }

    $(document).ready(function(){
      $("#flexCheckChecked").change(function(){
        if($("#flexCheckChecked").is(":checked")){
          $("#clean").val('클릭 시 바뀌는 값이 나옵니다');
        }
      });
    });
    </script>
  </head>
  <body>
     <div class="bookcover">
       <div class="bookdot">
         <div class="page">
           <div class="left-box">
             <div class="visit-count">TODAY<span>28</span>| TOTAL<span>243423</span></div>
             <div class="box">
               <div class="profile-img"><img src="{% static 'visitors_book/images/profile_image.png' %}" alt="profile"></div>
               <div class="profile-post">오늘도 피곤한 하루를 <br>끝낸 ㄴr 에게 <br> CHEERS! <br><br> 뮤직 ○l즈 ㅁト○l ㄹΓ잎..</div>
               <!-- <div class="profile-footer">
                 <select name="page" id="page" class="select-wave" onchange="window.open(value,'_blank');">
                   <option value="none"><a class="dropdown-item" href="#">바로가기</a></option>
                   <option value="https://cafe.naver.com/codeuniv">코뮤니티로 가기</option>
                   <option value="https://codemate.kr/">코드메이트로 가기</option>
                 </select>
               </div> -->
             </div>
           </div>
           <div class="main-box">
             <div class="post-box">
               <div class="post-name">{{ user_name }}의 미니홈피</div>
             </div>
             <div class="box">
               <div class="miniroom">듣고 싶은 노래를 3개 선택해주세요</div>

               <div class="miniroom-box">
                 <form action="{% url 'music_choice:recommendation'%}" method="post">
                    {% csrf_token %}
                    <br>
                    {% for title, artist in random_songs_list %}

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="answer[]" value="{{ title }}" id="flexCheckChecked{{ forloop.counter }}">
                      <label class="form-check-label" for="flexCheckChecked{{ forloop.counter }}">
                        {{ title }} - {{ artist }}
                      </label>
                    </div>
                    <br>

                    {% endfor %}
                  </div>
                <input type='hidden' name="user_name" value="{{ user_name }}">
                <input type='hidden' name="total_array" value="{{ total_array }}">
                <div stype="width:90%; margin:10px auto;" >
                  <div style="float: right; width:15%; box-sizing:border-box;">
                      <button type="submit" class="btn btn-link" dfloat: right;>제출하기</button>
                  </div>
                  <div style="float:right; margin-left: 5%; width:20%; box-sizing:border-box;">
                      <button type="button" class="btn btn-link" onclick="reload()" float: left; >다시선택하기</button>
                  </div>
                </div>
               </form>
             </div>
           </div>
           <div class="side-menu">
             <div class="side-menubar">
               <a href="{% url 'index:index' %}">육미의 <br> 세포들 HOME</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>
</html>
