{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'music_choice/style.css' %}" />
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>2022 MINI HOMEPAGE</title>
    <link rel="stylesheet" href="{% static 'music_choice/font.css' %}" />
    <link rel="stylesheet" href="{% static 'music_choice/layout.css' %}">
    <link rel="stylesheet" href="{% static 'music_choice/home.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&display=swap');
    </style>

    <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("input[type='checkbox']").on("click", function(){
        let count = $("input:checked[type='checkbox']").length;

        if(count > 3){
          $(this).prop("checked", false);
            alert("3개까지만 선택할 수 있습니다.");
        }
      });
    });

    function reload(){
      document.location.reload();
    }

    $(document).ready(function(){
      $("#flexCheckChecked").change(function(){
        if($("#flexCheckChecked").is(":checked")){
          $("#clean").val('클릭 시 바뀌는 값이 나옵니다');
        }
      });
    });
    </script>
  </head>
  <body>
     <div class="bookcover">
       <div class="bookdot">
         <div class="page">
           <div class="left-box">
             <div class="visit-count">TODAY<span>28</span>| TOTAL<span>243423</span></div>
             <div class="box">
               <div class="profile-img"><img src="https://cdn.pixabay.com/photo/2021/10/19/10/56/cat-6723256_960_720.jpg" alt="profile"></div>
               <div class="profile-post">오늘도 피곤한 하루를 <br>끝낸 ㄴr 에게 <br>CHEERS!</div>
               <div class="profile-footer">
                 <select name="page" id="page" class="select-wave" onchange="window.open(value,'_blank');">
                   <option value="none"><a class="dropdown-item" href="#">바로가기</a></option>
                   <option value="https://cafe.naver.com/codeuniv">코뮤니티로 가기</option>
                   <option value="https://codemate.kr/">코드메이트로 가기</option>
                 </select>
               </div>
             </div>
           </div>
           <div class="main-box">
             <div class="post-box">
               <div class="post-name">ㄴr만의 도토ㄹi BOX</div>
               <div class="post-url">https://minihompage/doremi</div>
             </div>
             <div class="box">
                 <!-- <div class="update-news">UPDATE NEWS</div>
                 <div class="update-box">
                   <div class="update-left-box">
                     <div class="picture"><div class="pnamebox">사진첩</div><span>오랜 친구들과 손잡고</span></div>
                     <div class="board"><div class="bnamebox">게시판</div><span>롯데월드 갔다옴</span></div>
                     <div class="board"><div class="bnamebox">게시판</div><span>학교 가기 싫다</span></div>
                     <div class="picture"><div class="pnamebox">사진첩</div><span>놀러가기로 한 계획표</span></div>
                   </div>
                   <div class="update-right-box">
                     <div class="board-info">
                       <div class="firstline">
                         <div>다이어리<span> 0/25</span></div>
                         <div>사진첩<span> 0/25</span></div>
                       </div>
                       <div class="secondline">
                         <div>게시판<span> 0/25</span></div>
                         <div>방명록<span> 0/25</span></div>
                       </div>
                     </div>
                   </div>
                 </div> -->
               <div class="miniroom">듣고 싶은 노래를 3개 선택해주세요</div>

               <div class="miniroom-box">
                 
                  {% for title, artist in random_songs_list %}

                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                       <label class="form-check-label" for="flexCheckChecked">
                         {{ title }} - {{ artist }}
                       </label>
                     </div>

                   {% endfor %}
                 <!-- <img class="miniroom-img" src="https://media1.giphy.com/media/wwg1suUiTbCY8H8vIA/giphy.gif?cid=ecf05e47tfqxd92twhj3p43bt316hshv9fe7ral2orho7h4v&rid=giphy.gif&ct=g" alt=""> -->
               </div>

               <br>
               <div style="margin-left: 400px">
                   <button type="button" class="btn btn-link" onclick="reload()" float: left; >다시선택하기</button>
                   <button type="button" class="btn btn-link" onclick="location.href='/music_choice/recommendation/'" dfloat: right;>제출하기</button>
               </div>
             </div>
           </div>
           <div class="side-menu">
             <div class="side-menubar">
               <a href="#">홈</a>
               <a href="#">다이어리</a>
               <a href="#">사진첩</a>
               <a href="#">방명록</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>
</html>
