{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'music_choice/style.css' %}" />
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>2022 MINI HOMEPAGE</title>
    <link rel="stylesheet" href="{% static 'music_choice/font.css' %}" />
    <link rel="stylesheet" href="{% static 'music_choice/layout.css' %}">
    <link rel="stylesheet" href="{% static 'music_choice/home.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&display=swap');
    </style>

    <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>
  <body>
     <div class="bookcover">
       <div class="bookdot">
         <div class="page">
           <div class="left-box">
             <div class="visit-count">TODAY<span>28</span>| TOTAL<span>243423</span></div>
             <div class="box">
               <div class="profile-img"><img src="{% static 'visitors_book/images/profile_image.png' %}" alt="profile"></div>
               <div class="profile-post">오늘도 피곤한 하루를 <br>끝낸 ㄴr 에게 <br>CHEERS!</div>
               <div class="profile-footer">
                 <select name="page" id="page" class="select-wave" onchange="window.open(value,'_blank');">
                   <option value="none"><a class="dropdown-item" href="#">바로가기</a></option>
                   <option value="https://cafe.naver.com/codeuniv">코뮤니티로 가기</option>
                   <option value="https://codemate.kr/">코드메이트로 가기</option>
                 </select>
               </div>
             </div>
           </div>
           <div class="main-box">
             <div class="post-box">
               <div class="post-name">ㄴr만의 도토ㄹi BOX</div>
               <div class="post-url">https://minihompage/doremi</div>
             </div>
             <div class="box">
               <div class="miniroom">힐링 노래 추천 드려요!</div>
               <div class="miniroom-box">
                 <h1>{{ total_array }}</h1>
                 {{ song_title}}
                 <br>
                 <img src="{% static 'music_choice/images/muzi2.png'%}" class="next" style="float:left; margin-left:20px; height:20px;display:inline-block;">&nbsp 'WE GO' - 프로미스나인 (fromis_9) <p>
                 <img src="{% static 'music_choice/images/muzi2.png'%}" class="next" style="float:left; margin-left:20px; height:20px;display:inline-block;">&nbsp '둘 중에 골라 (Summer or Summer)' - 효린, 다솜 (HYOLYN, DASOM)  <p>
                 <img src="{% static 'music_choice/images/muzi2.png'%}" class="next" style="float:left; margin-left:20px; height:20px;display:inline-block;">&nbsp 'DM' - 프로미스나인 (fromis_9)  <p>
                 <img src="{% static 'music_choice/images/muzi2.png'%}" class="next" style="float:left; margin-left:20px; height:20px;display:inline-block;">&nbsp 'KNOCK (With PARKMOONCHI(박문치))' - Kwon Jin Ah(권진아) <p>
                 <img src="{% static 'music_choice/images/muzi2.png'%}" class="next" style="float:left; margin-left:20px; height:20px;display:inline-block;">&nbsp '냉면 (차가운얼굴)' - 명카드라이브 <p>
               </div>
               <br>
             </div>
           </div>
           <div class="side-menu">
             <div class="side-menubar">
               <a href="{% url 'index:index' %}">홈</a>
               <a href="{% url 'visitors_book:index' %}">방명록</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>
</html>
