.main-content {
    background-color: white;
    flex: 0.95;
    /*Update news와 Miniroom 세로 정렬*/
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}


.upper-content {
    flex: 1;
    margin: 10px 20px;
}



#photo {
    background-color: rgb(255, 70, 70);
    color: white;
    border-radius: 10%;
}


#board {
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 10%;
}
