/*회색배경*/
body {
  width: 100%;
  background-color: #a3a3a3;
  background-image: url(./images/pattern.png);
  background-size: 90px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;
}


div {
  margin: 0;
  padding: 0;
}


/*파란커버*/
.bookcover{
  width: 900px;
  height: 600px;
  background-color: #b4d1da;
  border-radius: 10px;
  margin: 100px auto;
  position: relative;
}


/*바깥 테두리*/
.bookdot{
  border: 1px solid aliceblue;
  border-radius: 7px;
  border-style: dashed;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97.5%;
  height: 96.5%;
}


/*회색 배경*/
.page {
  background-color: rgb(235, 230, 230);
  border-radius: 7px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97.5%;
  height: 96%;

  display: flex;
}


.post-url:hover {
  cursor: pointer;
}


.column1 {
    display: flex;
    flex-direction: column;
    /*전체 너비에서 0.25 차지*/
    flex: 0.25;
    margin: 10px;
}


.visit {
    flex: 0.05;
    padding: 5px;
    /*문구 가운데 정렬*/
    margin: 0 auto;
}


.profile{
    background-color: white;
    flex: 0.95;
    border-radius: 1%;
    /*profile-image와 profile-text 세로 중앙 정렬*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-image {
    width: 70%;
    height: 50%;
    margin: 20px 20px 10px 20px;
    flex: 0.3;
    background-image: url("images/profile_image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.profile-text {
    flex: 0.5;
    width: 80%;
    margin: 10px 20px 10px 20px;
}


.profile-dropdown {
    flex: 0.2;
    width: 80%;
    margin: 10px 20px 20px 20px;
}


.column2 {
    display: flex;
    flex-direction: column;
    /*전체 너비에서 0.65 차지*/
    flex: 0.65;
    margin: 10px 0 10px 10px;
}


.top-text-box {
    display: flex;
    flex: 0.05;
    padding: 5px;
}


.title {
    flex: 1;
}


.url {
    flex: 1;
}


.menu {
    display: flex;
    flex-direction: column;
    /*전체 너비에서 0.1 차지*/
    flex: 0.1;
    margin: 50px 0;
}


.menu-box {
    width: 75px;
    height: 40px;
    padding: 5px;
    margin: 10px 0px;
    background-color: #00a2d3;
    color: white;
    border-radius: 0 15% 15% 0;
}

.visitors_book {
  width: 75px;
  height: 40px;
  padding: 5px;
  margin: 10px 0px;
  background-color: white;
  color: #00a2d3;
  border-radius: 0 15% 15% 0;
}


.menu a {
    text-decoration: none;
}


.menu-box:hover {
    background-color: #007fd3;
}
