{% load static %}
<!DOCTYPE html>
<html lang="ko">
 <head>
   <meta charset="UTF-8">
   <title>index</title>
  <link rel="stylesheet" href="{% static 'index/index.css' %}">

 </head>
 <body>
    <div class="bgimage">
        <div class="menu">
        </div>
        <div class="text">
            <div class="title">
              <h1> 나는 슬플 때 노래를 들어..♬ </h1>
              <h4> by 육미의 세포들</h4>
              <br>
              <!-- <h1> ㄴr는 슬플 ㄸĦ 노㉣łı를 들øł.. </h1> -->
              <h2> 너의 오늘 감정을 적어봐
              너에게 딱 맞는 노래를 추천해줄게 ♥ </h2>
            </div>
            <div class="form">
              <!-- <form method="post" action="/visitors_book/" class="post-form"> -->
              <form method="post" action="{% url 'visitors_book:index' %}"  class="post-form">
                {% csrf_token %}
                {{ form }}
                <!-- <textarea name="username" style="width: 20%; height: 2em;"
                placeholder="이름을 입력해주세요">
              </textarea> -->
                <button type="submit" class="btn"> Today is...</button>
              </form>
            </div>
        </div>

    </div>
    <!-- /* coding with nick */ -->
  </body>

</html>
