@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gaegu:wght@300&family=Jua&display=swap');


/*회색배경*/
body {
    background-color: rgb(160,160,160);
    background-image: url('./images/pattern.png');
    background-size: 100px;
}


/*파란커버*/
.bookcover{
    background-color: #b4d1da;
    width: 1000px;
    height: 600px;
    margin: 75px auto;
    padding: 5px;
    border-radius: 5px;
}


/*바깥 테두리*/
.bookdot{
    position: relative;
    left: 5px;
    top: 5px;
    width: 990px;
    height: 590px;
    border: 1px dashed white;
    border-radius: 1%;
}


/*회색 배경*/
.page {
    background-color: rgb(226, 226, 226);
    position: absolute;
    left: 5px;
    top: 5px;
    width: 980px;
    height: 580px;
    border-radius: 1%;


    display: flex;
}


.column1 {
    display: flex;
    flex-direction: column;
    /*전체 너비에서 0.25 차지*/
    flex: 0.25;
    margin: 10px;
}


.visit {
    flex: 0.05;
    padding: 5px;
    font-family: 'Gaegu', cursive;
    /*문구 가운데 정렬*/
    margin: 0 auto;

}


.profile{
    background-color: white;
    flex: 0.95;
    border-radius: 1%;


    /*profile-image와 profile-text 세로 중앙 정렬*/
    display: flex;
    flex-direction: column;
    align-items: center;


}


.profile-image {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url("images/profile_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.profile-text {
    font-family: 'Gaegu', cursive;
    margin: 0 20px 20px 20px;
}


.column2 {
    display: flex;
    flex-direction: column;
    /*전체 너비에서 0.65 차지*/
    flex: 0.65;


    margin: 10px;
}


.top-text-box {
    display: flex;
    flex: 0.05;
    padding: 5px;
    font-family: 'Gaegu', cursive;
}


.title {
    flex: 1;

}


.url {
    flex: 1;
}


.main-content {
    background-color: white;
    flex: 0.95;
    /*Update news와 Miniroom 세로 정렬*/
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}


.upper-content {
    flex: 1;
    margin: 10px 20px;
}


#bold-text {
    color: #71bfd6;
    font-family: 'Jua', sans-serif;
}


.update-box {
    display: flex
}


.new-text {
    flex: 1;
}


.line {
    font-family: 'Gaegu', cursive;
}


#photo {
    background-color: rgb(255, 70, 70);
    color: white;
    border-radius: 10%;
}


#board {
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 10%;
}


.new-image-container {
    /*new-text와 1:1 비율 유지*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.new-image {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    margin: 0px 2px;
    padding: 2px;
}


.plus-image {
    width: 30px;
    height: 30px;
}


.bottom-content {
    flex: 4;
    margin: 10px 20px;
}


.menu {
    display: flex;
    /*전체 너비에서 0.1 차지*/
    flex: 0.1;
    margin: 10px;
    border: 1px solid black;


/* .minimi{
  width:30%;
  height:20%;
  border:1px solid grey;
  border-radius: 5px;
  margin-left: 15%;
  margin-right:1%;
  background-image: url("images/minimi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.user_input{
  width:70%;
  height:50%;
  border:1px solid grey;
  border-radius: 5px;
  margin-left: 15%;
  font-size: 100%;
  white-space: normal;
  word-wrap: break-word;
}


/* .image-box{
  width:30%;
  height:20%;
  border:1px solid grey;
  border-radius: 5px;
  margin-left: 15%;
  margin-right:1%
}

.image-thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
