#input_submit {
  width: 20%;
  font-size: 0.9em;
  margin-top: 1%;
}

.visitor-box-container {
    margin: 20px;
    overflow-y: auto;
}


.visitor-box{
    width: 100%;
    margin-bottom: 0px;
}


.visitor-box-title{
    background-color: rgb(230, 230, 230);
    padding: 5px;
}


.visitor-box-content {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}


.visitor-img {
  flex: 0.3;
}


.visitor-img > img {
  width: 100px;
  height: 100px;
  margin: 5%;
  margin-top: 10%;
}

.visitor-text {
    padding: 10px;
    flex: 0.7;
}


.add-button {
    display: block;
    width: 35%;
    margin: 0 auto;
}


.add-button button {
    border: none;
    background-color: #b4d1da;
    padding: 10px;
    cursor: pointer;
}
